@font-face {
    font-family: "Hanken Grotesk";
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}
:root{
    /*colors for summary items*/
    --light-red: hsl(0, 100%, 67%);
    --transparent-light-red: hsla(0, 100%, 67%, 0.05);
    --orangey-yellow: hsl(39, 100%, 56%);
    --transparent-orangey-yellow: hsla(39, 100%, 56%, 0.05);
    --green-teal: hsl(166, 100%, 37%);
    --transparent-green-teal: hsla(166, 100%, 37%, 0.05);
    --cobalt-blue: hsl(234, 85%, 45%);
    --transparent-cobalt-blue: hsla(234, 85%, 45%, 0.05);

    /*gradients*/
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);
    --results-container-linear-gradient: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    --results-score-linear-gradient: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));

    /*neutral colors*/
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);

    /*font stuff*/
    --font-size-score-container-header: 3.4rem;
    --font-size-main-container-item-header: 1.05rem;
    --font-size-paragraph: 1rem;
    --font-family-hanken-grotesk: "Hanken Grotesk", sans-serif;
    --font-weight-small: 500;
    --font-weight-medium: 700;
    --font-weight-large: 800;

    /*Random*/
    --score-description-side-margin: 2.5rem;
}
*{
    /*Boilerplate styles*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family-hanken-grotesk);

    text-align: center;
}
html,body,.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    background: var(--white);
    
}
.mainContainer{
    width: auto;
    height: auto;
    background: var(--white);
}
.mainContainerItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1rem 0.8rem 0.8rem hsl(231, 62%, 96%);
}

/*RESULT CONTAINER STYLES*/
.resultContainer{
    background: var(--results-container-linear-gradient);
    border-radius: 0 0 1.5rem 1.5rem;
}
.resultHeader{
    color: var(--white);
    font-size: var(--font-size-main-container-item-header);
    margin: 1.6rem;
}
.scoreContainer{
    background: var(--results-score-linear-gradient);
    padding: 1.4rem;
    width: 15ch;
    height: 15ch;
    border-radius: 50%;
}
.scoreContainerHeader{
    color: var(--white);
    font-size: var(--font-size-score-container-header);
}
.scoreContainerParagraph{
    color: var(--light-lavender);
    font-size: var(--font-size-paragraph);
}  
.scoreAdjective{
    color: var(--white);
    margin: 1.5rem 0 0 0;
}
.scoreDescription{
    color: var(--light-lavender);
    font-size: var(--font-size-paragraph);
    margin: 0.7rem var(--score-description-side-margin) 2.5rem var(--score-description-side-margin);
}

/*SUMMARY CONTAINER STYLES*/
.summaryContainer{
    padding: 1.6rem;
}
.summaryHeader{
    color: var(--dark-gray-blue);
    font-size: var(--font-size-main-container-item-header);
    font-weight: var(--font-weight-medium);
    align-self: flex-start;
    margin: 0 0 1.7rem 0;
}
.summaryAttributesContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.summaryAttributeContainer{
    display: flex;
    width: 100%;
    margin: 0 0 1.2rem 0;
    font-weight: var(--font-weight-small);
    border-radius: 0.8rem;
}
.reactionContainer{
    color: var(--light-red);
    background: var(--transparent-light-red);
}
.memoryContainer{
    color: var(--orangey-yellow);
    background: var(--transparent-orangey-yellow);
}
.verbalContainer{
    color: var(--green-teal);
    background: var(--transparent-green-teal);
}
.visualContainer{
    color: var(--cobalt-blue);
    background: var(--transparent-cobalt-blue);
}
.attributeItem{
    padding: 1rem 0.8rem;
}
.score{
    margin-left: auto;
    color: var(--dark-gray-blue);
    font-weight: var(--font-weight-large);
}
.outOf{
    font-weight: var(--font-weight-small);
}
.continueButton{
    border: 0;
    color: var(--white);
    background: var(--dark-gray-blue);
    border-radius: 2.4rem;
    margin: 0.2rem 0 0 0;
    width: 100%;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: var(--font-weight-medium);
}
.continueButton:hover{
    background: var(--results-container-linear-gradient);
    cursor: pointer;
}
.continueButton:focus{
    background: var(--results-container-linear-gradient);
    cursor: pointer;
}
/*Component can be displayed at 700px wide screen in desktop mode*/
@media (min-width: 700px) {
    body{
        justify-content: center;
        align-items: center;
    }
    .mainContainer{
        flex-direction: row;
    }
    .resultContainer{
        border-radius: 1.5rem;
        width: 35ch;
    }
    .scoreContainer{
        height: 18ch;
        width: 18ch;
        padding: 2rem;
    }
    .summaryContainer{
        border-radius: 0 1.5rem 1.5rem 0;
        width: 40ch;
    }
    .summaryHeader{
        margin: 0 0 1.4rem 0;
    }
    .summaryAttributeContainer{
        padding: 0 0.4rem;
        font-size: 0.95rem;
        margin: 0 0 0.8rem 0;
    }
    .attributeItem{
        padding: 0.8rem 0.3rem;
    }
    .continueButton{
        margin: 1.4rem 0 0 0;
        font-size: 1rem;
        padding: 0.8rem;
    }
}