@font-face {
    font-family: "Hanken Grotesk";
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}
:root{
    /*colors for summary items*/
    --light-red: hsl(0, 100%, 67%);
    --transparent-light-red: hsla(0, 100%, 67%, 0.05);
    --orangey-yellow: hsl(39, 100%, 56%);
    --transparent-orangey-yellow: hsla(39, 100%, 56%, 0.05);
    --green-teal: hsl(166, 100%, 37%);
    --transparent-green-teal: hsla(166, 100%, 37%, 0.05);
    --cobalt-blue: hsl(234, 85%, 45%);
    --transparent-cobalt-blue: hsla(234, 85%, 45%, 0.05);

    /*gradients*/
    --light-slate-blue: #6743ff;
    --light-royal-blue: #312bed;
    --violet-blue: #4e21ca;
    --results-container-linear-gradient: linear-gradient(#6743ff,#312bed);
    --results-score-linear-gradient: linear-gradient(#4e21ca,#312bed);
    --persian-blue: hsl(241, 72%, 46%, 0);

    /*neutral colors*/
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);

    /*Use transparency to get the colour variations necessary to 
    match the design. Hint: look into using `hsla()`.*/

    /*font stuff*/
    --font-size-paragraph: 1.125;
    --font-family-hanken-grotesk: "Hanken Grotesk", sans-serif;
    --font-weight-small: 500;
    --font-weight-medium: 700;
    --font-weight-large: 800;

}
*{
    /*Boilerplate styles*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family-hanken-grotesk);

    text-align: center;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
/*RESULT CONTAINER*/
.resultContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: var(--results-container-linear-gradient);
    border-radius: 0 0 1.25rem 1.25rem;
    padding: 1rem;
}
.resultContainerH1{
    color: #cfc6ff;
    font-size: 1.1rem;

    margin: 0.6rem 0;
}
.resultContainerItem{
    
}
.scoreContainer
{   
    background: var(--results-score-linear-gradient);
    width: 9rem;
    height: 9rem;
    padding: 2.125rem;
    margin: 1rem;
    border-radius: 50%;
}
.scoreContainerHeader{
    color: #ffffff;
    font-size: 3rem;
}
.scoreContainerParagraph{
    color: #cfc6ff;
    font-size: 0.9375rem;
    
}
.scoreAdjective{
    margin: 0.3rem;
    color: #ffffff;
}
.scoreDescription{
    color: #cfc6ff;
    margin: 0.3rem 1.5rem 1.3rem 1.5rem;
}

/*SUMMARY CONTAINER*/
.summaryContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1.4rem 2rem 2rem 2rem;
    width: 100%;
}
.summaryContainerItem{

}
.summaryHeader{
    color: var(--dark-gray-blue);
    font-size: 1.2rem;
    align-self: flex-start;
    margin: 0 0 0.8rem 0;
}
.summaryAttributesContainer{
    display: flex;
    flex-direction: column;
    width: 100%;

}
.summaryAttributeContainer{
    display: flex;

    padding: 0.9rem 0;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
}
.summaryAttributeContainerItem{
    margin: 0.3rem;
}
.attribute{
    font-weight: var(--font-weight-small);
}
.score{
    color: var(--dark-gray-blue);
    font-weight: var(--font-weight-medium);
    margin-left: auto;
}
.outOf{
    color: var(--light-lavender);
    font-weight: var(--font-weight-medium);
}
.reactionContainer{
    background-color: var(--transparent-light-red);
    color: var(--light-red);
}
.memoryContainer{
    background-color: var(--transparent-orangey-yellow);
    color: var(--orangey-yellow);
}
.verbalContainer{
    background-color: var(--transparent-green-teal);
    color: var(--green-teal);
}
.visualContainer{
    background-color: var(--transparent-cobalt-blue);
    color: var(--cobalt-blue);
}
.continueButton{
    background-color: var(--dark-gray-blue);
    border: 0;
    border-radius: 1.8rem;
    padding: 1rem;
    margin-top: 0.9rem;

    font-size: 1.1rem;
    font-weight: 500;
    color: white;
}